<br/>
<br/>
<form action="/wishes/<%= @wish_list.id %>/new" method="post">
<div class="form-group">
  <label for="content"> <h3>Add wishes to list <%= @wish_list.name %> </h3> </label>
  <br/>
  <br/>
  <label for="name">Item:</label>
  <input class="form-control" type="text" id="name" name="name">
  <br/>
  <label for="name">Description:</label>
  <input class="form-control" type="text" id="description" name="description">
  <br/>
  <label for="name">Link to item (aka url):</label>
  <input class="form-control" type="text" id="url" name="url">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>
