<br/>
<form action='/wish_lists/new' method="post">
<div class="form-group">
  <label for="content"><h3>New Wish List</h3></label>
  <input class="form-control" type="text" id="name" name="name">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>
