<br/>
<br/>
<form action="/add_wish_to_wishlist/<%= @wishlist.id %>" method="post">
<div class="form-group">
  <label for="content"> <h3>Add wishes to list <%= @wishlist.name %> </h3> </label>
  <br/>
  <br/>
  <label for="name">Item:</label>
  <input class="form-control" type="text" id="name" name="name">
  <br/>
  <label for="name">Description:</label>
  <input class="form-control" type="text" id="description" name="description">
  <br/>
  <label for="name">Link to item (aka url):</label>
  <input class="form-control" type="text" id="url" name="url">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>

<div class="float-right">
  <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>
