<br/>
<br/>
<br/>
<br/>
<div class="header">
<h1>Welcome to Wishable<h1>
</div>
<br/>
<br/>
<div class="homepage_links">
<a class="btn btn-dark" href="/users/signup" role="button">Signup</a>
<a class="btn btn-dark" href="/users/login" role="button">Log in</a>
</div>
