<!doctype html>
<html>
  <head>
    <title>Wishable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
      <img class="logo" src="/images/Wishable-logo.png" alt="logo" />
    </a>
 </nav>
      <%= yield %>
    <div class="float-right">
      <a class="btn btn-dark" href="/users/logout" role="button">Logout</a>
    </div>
  </body>
</html>
