</br>
</br>
<h2>Welcome, <%= @user.username %>!</h2>
<h4>Here are all the amazing things you've been wishing for!</h4>

<div class="float-right">
   <a class="btn btn-primary" href="/show_wish_list" role="button">New WishList</a>
</div>

<ul >
  <% WishList.all.order('id DESC').each do |list| %>
    <li class="shadow-sm bg-white rounded p-3 mb-3">
      <h3><a href="/show_wish_list/<%= list.id %>"> <%= list.name %></a></h3>
    </li>
  <% end %>
</ul>


<div class="float-right">
  <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>
