<br/>
<form action='/new_wish_list' method="post">
<div class="form-group">
  <label for="content"><h3>New Wish List</h3></label>
  <input class="form-control" type="text" id="name" name="name">
  <br/>
  <input class="form-control" type="text" id="description" name="description">
</div>
  <input class="btn btn-dark" type="submit" name="submit" id="submit">
</form>

<div class="float-right">
  <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>
